<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input [(ngModel)]="budget.id" matInput placeholder="Budget Id">
    </mat-form-field>
    <button (click)="search(budget.id)" color="primary" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" color="primary" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<app-crud [data]="data" [title]="title" [columns]="columns" [createAction]="false"
          (delete)="delete($event.id)" (read)="generatePdf($event.id)"></app-crud>
