<mat-card>
  <mat-card-title>Advance search</mat-card-title>
  <mat-card-content>
    <mat-label>Partially defined Products</mat-label>
    <button (click)="searchPartiallyDefined()" color="primary" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field id="descriptionField">
      <input [(ngModel)]="article.description" matInput placeholder="Description">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="article.stock" matInput placeholder=">=Stock">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="article.minPrice" matInput placeholder="Min. Price">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="article.maxPrice" matInput placeholder="Max. Price">
    </mat-form-field>
    <button (click)="search()" color="primary" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" color="primary" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
