<h3 mat-dialog-title>
  Would you like to generate a Negative Invoice?:
</h3>
<div>
  <p>{{message}}</p>
</div>
<mat-card>
<div class="example-container">
  <p>Maximum positive value to offset: {{positiveValue}}
  </p>
<mat-form-field appearance="fill">
  <input matInput type="number" placeholder="New Negative Value" required [(ngModel)]="negativeValue"/>
</mat-form-field>
  <p>Total Tax: {{totalTax}}
  </p>
<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="look4PosibleTotal()">
    Set Total
  </button>
  &nbsp;
  <button type="submit" mat-raised-button color="accent" (click)="generateNegativeInvoice()">
    Generate Negative Invoice
  </button>
  <button mat-raised-button mat-dialog-close cdkFocusInitial color="warn">Cancel</button>
</mat-dialog-actions>
</div>
</mat-card>
