<div>
  <p>Confirm close Order # <input [(ngModel)]="data.id" disabled></p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Article #</th>
      <th scope="col">Article</th>
      <th scope="col">Required Amount</th>
      <th scope="col">Final Amount</th>
    </tr>
    </thead>
    <tbody>
    <!-- TODO ngFor with all articles from Order -->
    <tr>
      <td><input [(ngModel)]="data.orderLine.Article.id"></td>
      <td><input [(ngModel)]="data.orderLine.descriptionArticles"></td>
      <td><input [(ngModel)]="data.orderLine.descriptionArticles"></td>
      <td><input [(ngModel)]="data.orderLine.requiredAmount"></td>
      <td><input [(ngModel)]="data.orderLine.finalAmount"></td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <button (click)="onNoClick()">No Thanks</button>
  <button [mat-dialog-close]="data" cdkFocusInitial (click)="closeOrder(data)">Close Order</button>
</div>
