<h2 mat-dialog-title *ngIf="modeDialog == 'Create'">New article: </h2>
<h2 mat-dialog-title *ngIf="modeDialog == 'Update'">Update article: </h2>
<form [formGroup]="articleForm">
  <mat-dialog-content>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="code" placeholder="Code"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="description" placeholder="Description" required/>
      </mat-form-field>
      <mat-error class="error-message" *ngIf="articleForm.controls.description.errors?.required">Description is required
      </mat-error>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="number" min="0" formControlName="retailPrice" placeholder="Retail price" required/>
      </mat-form-field>
      <mat-error class="error-message" *ngIf="articleForm.controls.retailPrice.errors?.required">Retail price is
        required
      </mat-error>
      <mat-error class="error-message" *ngIf="articleForm.controls.retailPrice.errors?.min">Retail price must be greater
        than or equal to zero
      </mat-error>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="reference" placeholder="Reference"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="provider" placeholder="Provider"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="number" min="0" formControlName="stock" placeholder="Stock"/>
      </mat-form-field>
      <mat-error class="error-message" *ngIf="articleForm.controls.stock.errors?.min">Stock must be greater
        than or equal to zero
      </mat-error>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Tax" formControlName="tax" required>
          <mat-option *ngFor="let tax of taxTypeList" [value]="tax.value">
            {{tax.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error class="error-message" *ngIf="articleForm.controls.tax.errors?.required">Tax is required
      </mat-error>
    </div>
    <div class="form-group">
      <mat-checkbox formControlName="discontinued">Discontinued</mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" [disabled]="articleForm.invalid"
            (click)="createOrUpdate()">{{modeDialog}}
    </button>
  </mat-dialog-actions>
</form>
