.p-left-title-articles-family-view{
  margin-left: 16px;
}
.align-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.element-articles-family-card{
  width: 250px;
  height: 100px;
  margin: 5px 5px 8px;
  border: 2px solid;
  cursor: pointer;
}

.family-article-card{
  border-color: cornflowerblue;
}

.family-articles-card{
  border-color: darksalmon;
}

.family-sizes-card{
  border-color: darkgrey;
}

.path_stepper{
  font-size: 14px;
  text-decoration: none;
  color: cornflowerblue;
  font-style: italic;
}


