<h1>Articles family View</h1>
<a class="path_stepper" (click)="readFamilyArticlesList(familyInfo)" *ngFor="let familyInfo of navigationFamilyTypes">
  {{familyInfo}}
</a>
<div class="align-cards">
  <mat-card
    [class.typeARTICLE]="articleElement.familyType == 'ARTICLE'"
    [class.typeARTICLES]="articleElement.familyType == 'ARTICLES'"
    [class.typeSIZES]="articleElement.familyType == 'SIZES'"
    class="element-articles-family-card family-article-card"

    *ngFor="let articleElement of articlesFamilyList"
    (click)="handleFamilyTypeArticlesFamily(articleElement.familyType, articleElement)">
    <mat-card-title *ngIf="articleElement.code">{{articleElement.code}}</mat-card-title>
    <div *ngIf="articleElement.description">{{articleElement.description}}</div>
    <div *ngIf="articleElement.reference">{{articleElement.reference}}</div>
    <div *ngIf="articleElement.retailPrice">{{articleElement.retailPrice}}</div>
    <div *ngIf="articleElement.stock">{{articleElement.stock}}</div>
    <div *ngIf="articleElement.size">{{articleElement.size}}</div>
  </mat-card>
</div>
