<h3>Create family sizes</h3>
<form [formGroup]="familySizesForm">
  <div>
    <mat-form-field>
      <input matInput placeholder="Reference" formControlName="reference" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Provider" formControlName="provider" required>
    </mat-form-field>
  </div>
  <h5>Sizes:</h5>
  <div>
    <mat-radio-group formControlName="sizeType">
      <mat-radio-button value="alfa">Alfa</mat-radio-button>
      <mat-radio-button value="numeric">Numeric</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-form-field *ngIf="sizeTypeControl.value === 'numeric'">
      <input matInput placeholder="Step" formControlName="step" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Smallest" formControlName="smallestSize" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let size of startSizesArray" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Largest" formControlName="largestSize" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let size of finalSizesArray" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close [disabled]="familySizesForm.invalid" (click)="createFamilySizes()">Create</button>
  </mat-dialog-actions>
</form>
