<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formSearchOffers">
      <mat-form-field>
        <input matInput
               name="id"
               placeholder="Offer Id"
               formControlName="id"
               type="text" />
      </mat-form-field>
      <mat-form-field>
        <input matInput
               name="offername"
               placeholder="Offer Name"
               formControlName="offername"
               type="text" />
      </mat-form-field>
      <mat-form-field>
        <input matInput
               name="idArticle"
               placeholder="Article Id"
               formControlName="idArticle"
               type="text">
      </mat-form-field>
      <mat-checkbox name="activeOffers"
                    formControlName="activeOffers"
                    type="checkbox" >
        Only active offers
      </mat-checkbox>
    </form>
    <button
        (click)="search(formSearchOffers)"
        color="primary"
        mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="reset(formSearchOffers)" color="primary" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<app-crud [data]="offers" [title]="title" [columns]="columns" [updateAction]="false"
          (create)="create()" (read)="read($event)" (delete)="delete($event)"></app-crud>
