<mat-card>
  <mat-card-title>
    <mat-icon color="primary">list</mat-icon>
    Tickets
  </mat-card-title>
  <mat-card-content>
    <div class="container">
      <form>
        <mat-form-field>
          <input matInput placeholder="Ticket Code" type="text" #code cdkFocusInitial>
        </mat-form-field>
        <button type="submit" mat-mini-fab color="primary" (click)="searchTicketById(code.value); code.value='' "
                [disabled]="code.value === ''">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
    <div>
      <form id="advancedTicketQuery">
        <mat-form-field>
          <input [(ngModel)]="ticketQueryInput.userMobile" name="userMobile" matInput placeholder="User Mobile">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="ticketQueryInput.dateStart" [matDatepicker]="dateStart" name="dateStart"
                 placeholder="Date Start">
          <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
          <mat-datepicker #dateStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="ticketQueryInput.dateEnd" [matDatepicker]="dateEnd" name="dateEnd"
                 placeholder="Date End">
          <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
          <mat-datepicker #dateEnd></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="ticketQueryInput.totalMin" name="totalMin" matInput placeholder="Total Min">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="ticketQueryInput.totalMax" name="totalMax" matInput placeholder="Total Max">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="advancedTicketQueryPending" name="pending">Pendiente de Entrega</mat-checkbox>
        <button (click)="advancedTicketQueryNormal(this.AdvancedQuery, this.ticketQueryInput)" color="primary"
                mat-mini-fab>
          <mat-icon>search</mat-icon>
        </button>
        <button (click)="resetAdvancedSearch()" color="primary" mat-mini-fab>
          <mat-icon>close</mat-icon>
        </button>
      </form>
    </div>
    <div>
      <form id="advancedTicketQueryOrderById">
        <mat-form-field>
          <input [(ngModel)]="ticketQueryInput.orderId" name="orderId" matInput placeholder="Order Id" required>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="advancedTicketQueryOrderIdPending" name="orderIdPending">Pendiente de Entrega
        </mat-checkbox>
        <button
          (click)="advancedTicketQueryOrderId(this.AdvancedQuery+this.AdvancedQueryByOrderId, this.ticketQueryInput)"
          color="primary" mat-mini-fab>
          <mat-icon>search</mat-icon>
        </button>
        <button (click)="resetAdvancedSearch()" color="primary" mat-mini-fab>
          <mat-icon>close</mat-icon>
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>

<div *ngIf="isTicketFound">
  <mat-card>
    <table>
      <tr>
        <th class="left">Ticket</th>
        <td>{{ticketCode}}</td>
      </tr>
    </table>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef fxFlex="5%">#</mat-header-cell>
          <mat-cell *matCellDef="let i = index" fxFlex="5%"> {{i + 1}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef fxFlex="28%"> Description</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%"> {{item.description}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="retailPrice">
          <mat-header-cell *matHeaderCellDef fxFlex="11%"> Price</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%"> {{item.retailPrice}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef fxFlex="20%"> Nº</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="20%">
            <button (click)="decreaseAmount(item)" color="accent" mat-icon-button>
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            {{item.amount}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="discount">
          <mat-header-cell *matHeaderCellDef fxFlex="12%"> %</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%"> {{item.discount}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="totalPrice">
          <mat-header-cell *matHeaderCellDef fxFlex="12%"> Total</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%"> {{item.totalPrice}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="shoppingState">
          <mat-header-cell *matHeaderCellDef fxFlex="12%"> State</mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="28%">
            <button (click)="initializeCustomizedMatSelectStates(item.shoppingState)" mat-button mat-icon-button matSuffix>
              <mat-icon color="primary">autorenew</mat-icon>
            </button>
            <mat-form-field>
              <mat-select placeholder="{{item.shoppingState}}"
                          (selectionChange)="manageMatSelectOptions($event, item)">
                <mat-option
                  *ngFor="let state of customizedMatSelectStates"
                  [value]="state.value">
                  {{state.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <table>
        <tr>
          <th class="left">Total</th>
          <td>{{ticketTotal | currency:'EUR':'symbol'}}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-content>
      <button mat-raised-button color="accent" (click)="save()">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button mat-raised-button color="primary" (click)="reset()">
        <mat-icon>settings_backup_restore</mat-icon>
        Reset
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div [hidden]="!hasAdvancedQueryResults">
  <mat-card>
    <table>
      <tr>
        <th class="left">Ticket Results</th>
      </tr>
    </table>
  </mat-card>
  <mat-card>
    <table mat-table [dataSource]="dataSourceQuery" class="advanced-query-results mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef fxFlex="35%"> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef fxFlex="35%"> Creation Date</th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'medium'}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef fxFlex="30%"> Total</th>
        <td mat-cell *matCellDef="let element"> {{element.total | number:'1.2-2'}} </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef fxFlex="30%"> Details</th>
        <td mat-cell *matCellDef="let element"><button (click)="viewDetails(element.id)" mat-button mat-icon-button matSuffix>
          <mat-icon color="warn">visibility</mat-icon></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsQuery"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsQuery;"></tr>
    </table>
  </mat-card>
</div>


