<h3 mat-dialog-title>Cierre de Caja (total ventas: € {{cashierClosing.salesTotal}})</h3>
<mat-dialog-content>
  <mat-form-field>
    <input matInput type="number" placeholder="Total Vales" [value]="cashierClosing.totalVoucher" readonly/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Pagado con Tarjeta (€ {{cashierClosing.totalCard}})"
           [(ngModel)]="cashierClosure.salesCard"
           required cdkFocusInitial/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Efectivo en Caja (€ {{cashierClosing.totalCash}})"
           [(ngModel)]="cashierClosure.finalCash"
           required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Comentario" [(ngModel)]="cashierClosure.comment" required/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="close()" [disabled]="invalid()">
    <mat-icon>lock_outline</mat-icon>
    Cerrar Caja
  </button>
  <button mat-raised-button color="primary" (click)="cashMovement()">
    <mat-icon>account_balance_wallet</mat-icon>
    <span>Movimiento de efectivo en caja</span>
  </button>
</mat-dialog-actions>
