<h3 mat-dialog-title>Seed Database</h3>
<form>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput type="text" placeholder="YML File Name" required cdkFocusInitial #ymlFileName/>
      <mat-error>Field required</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button mat-dialog-close [disabled]="!ymlFileName.value"
            (click)="seedDb(ymlFileName.value)">Seed Database
    </button>
  </mat-dialog-actions>
</form>
