<mat-card>
  <mat-card-title>Search Vouchers</mat-card-title>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field color="accent">
        <input
          matInput
          [matDatepicker]="dpInit"
          placeholder="From"
          (dateChange)="dateInitChange($event)"
          formControlName="initDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="dpInit"></mat-datepicker-toggle>
        <mat-datepicker #dpInit></mat-datepicker>
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          matInput
          [matDatepicker]="dpEnd"
          placeholder="To"
          [min]="dateFrom"
          (dateChange)="dateEndChange($event)"
          formControlName="endDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
        <mat-datepicker #dpEnd></mat-datepicker>
      </mat-form-field>

      <mat-checkbox (change)="onChkChange()">Comsumed Voucher</mat-checkbox>
      <button (click)="search()" color="primary" mat-mini-fab>
        <mat-icon>search</mat-icon>
      </button>
      <button (click)="resetSearch()" color="primary" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </mat-card-content>


</mat-card>

<app-crud [data]="data" [title]="title" [columns]="columns" [deleteAction]="false" [readAction]="false"
          (create)="create()" (update)="update($event)"></app-crud>
