<mat-card>
  <mat-card-title>
    <mat-icon color="primary">schedule</mat-icon>
    Clock Search
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="operatorManagerForm">
      <mat-form-field color="accent">
        <input matInput [matDatepicker]="dateFromDatePicker"
               formControlName="dateFrom" placeholder="From"
               (change)="dateFromChange($event)">
        <mat-datepicker-toggle matSuffix [for]="dateFromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateFromDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput [matDatepicker]="dateUpDatePicker"
               formControlName="dateUp" placeholder="Up"
               (change)="dateUpChange($event)">
        <mat-datepicker-toggle matSuffix [for]="dateUpDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateUpDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="employeeMobile" placeholder="Employee Mobile">
      </mat-form-field>
      <button (click)="search()" tcolor="primary" mat-mini-fab>
        <mat-icon>search</mat-icon>
      </button>
      <button type="reset" color="primary" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
<app-crud [data]="clocks" [title]="title" [columns]="columns" [updateAction]="false" [createAction]="false"
          [readAction]="false" [deleteAction]="false"></app-crud>
