<mat-card>
  <mat-card-title>
    <mat-icon color="primary">schedule</mat-icon>
    Clock Search
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="operatorManagerForm" (ngSubmit)="doSearch()">
      <mat-form-field color="accent">
        <input matInput [matDatepicker]="dateFromDatePicker"
               formControlName="dateFrom" placeholder="From">
        <mat-datepicker-toggle matSuffix [for]="dateFromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateFromDatePicker></mat-datepicker>
        <mat-error *ngIf="hasError('dateFrom', 'validEndDate')">Date From can not be greater than the current date
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput [matDatepicker]="dateToDatePicker"
               formControlName="dateTo" placeholder="To">
        <mat-datepicker-toggle matSuffix [for]="dateToDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateToDatePicker></mat-datepicker>
        <mat-error *ngIf="hasError('dateTo', 'validEndDate')">Date To can not be greater than the current date
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="employeeMobile" placeholder="Employee Mobile" id="employeeMobile">
        <mat-error *ngIf="hasError('employeeMobile', 'maxlength')">Mobile has more than 9 digits</mat-error>
      </mat-form-field>
      <button type="submit" color="primary" mat-mini-fab>
        <mat-icon>search</mat-icon>
      </button>
      <button type="reset" color="primary" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
<app-crud [data]="clocksData" [title]="title" [columns]="columns"
          [updateAction]="false" [createAction]="false"
          [readAction]="false" [deleteAction]="false"></app-crud>
