<form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="submmit()" >
<h3 mat-dialog-title>Profile User</h3>
<mat-dialog-content>
  <mat-form-field>
    <input matInput type="password" placeholder="Current Password " [(ngModel)]="passwordCurrent" formControlName="VpasswordCurrent"/>
    <mat-error *ngIf="hasError('VpasswordCurrent', 'required')">It is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="New Password " [(ngModel)]="passwordNew"
           (focus)="closeWarningPasswordsNew();closeWarningPasswordCurrentNew()" (blur)="comparatePasswordCurrentAndNew()" (keyup)="validatorFormulario()"
           formControlName="VpasswordNew"/>
    <mat-hint class="validatorPassword" *ngIf="WarningPasswordCurrentNew">Password must different</mat-hint>
    <mat-error *ngIf="hasError('VpasswordNew', 'required')">It is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Repeat New Password" [(ngModel)]="NewRepeatpassword"
           (blur)="comparatePasswordNews()" (focus)="closeWarningPasswordsNew();" (keyup)="validatorFormulario()" formControlName="VNewRepeatpassword"/>
    <mat-error *ngIf="hasError('VNewRepeatpassword', 'required')">It is required</mat-error>
    <mat-hint  class="validatorPassword" *ngIf="WarningPasswordNews">Password must same</mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="submited">Submit</button>
</mat-dialog-actions>
</form>
