<div *ngIf="!operatorIs">
  <h3 mat-dialog-title>Update Roles</h3>
  <mat-dialog-content >
    <mat-checkbox [(ngModel)]="rolesList.admin" *ngIf="adminIs">Administrador</mat-checkbox>
    <mat-checkbox [(ngModel)]="rolesList.manager">Manager</mat-checkbox>
    <mat-checkbox [(ngModel)]="rolesList.operator">Operator</mat-checkbox>
    <mat-checkbox [(ngModel)]="rolesList.customer">Customer</mat-checkbox>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="guardar()">Submit</button>
  </mat-dialog-actions>
</div>
<h3 *ngIf="operatorIs">You do not have the permission to update roles</h3>





