<h3 mat-dialog-title>Update Roles</h3>
<mat-dialog-content>
  <mat-checkbox [(ngModel)]="admin">Administrador</mat-checkbox>
  <mat-checkbox [(ngModel)]="manager">Manager</mat-checkbox>
  <mat-checkbox [(ngModel)]="operator">Operator</mat-checkbox>
  <mat-checkbox [(ngModel)]="customer">Customer</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close (click)="guardar()">Submit</button>
</mat-dialog-actions>


