<h3 mat-dialog-title>Update provider</h3>
  <mat-dialog-content>
      <ng-container  *ngFor="let property of stringProperties">
      <mat-form-field>
        <input matInput placeholder="{{property}}" [(ngModel)]="provider[property]"/>
      </mat-form-field>
      </ng-container>
    <mat-checkbox [(ngModel)]="provider.active">Active</mat-checkbox>
  </mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close (click)="update()">Submit</button>
</mat-dialog-actions>
